.App {
  text-align: center;
}

h1 {
  font-weight: 400;
  color: rgb(109, 230, 199);
  font-size: 250%;
  margin-bottom: 10px;
}

h4 {
  font-weight: 100;
  margin-top: 5px;
  font-size: 90%;
}

h3 {
  font-size: 180%;
  font-weight: 100;
}



.board {
  display: inline-grid;
  grid-template-rows: 80px 80px 80px;
  grid-template-columns: 80px 80px 80px;
  text-align: center;
  margin: 20px;
  justify-items: center;
  align-items: center;
}

.space {
  width: 80px;
  height: 80px;
  border: 2px solid black;
  justify-items: center;
  align-items: center;
}

.marker {
  font-size: 40px;
  margin: 10px;
}

button{
  background-color: rgb(109, 230, 199);
  border-radius: 10px;
  border: none;
  margin: 10px;
  padding: 10px;
  transition: background-color .2s, transform .2s;
}

button:hover, button:active {
  background-color: rgb(92, 196, 170);
  transform: scale(1.02);

}

.position-0, .position-3, .position-6 {
  border-left: none;
}

.position-0, .position-1, .position-2 {
  border-top: none;
}

.position-2, .position-5, .position-8 {
  border-right: none;
}

.position-6, .position-7, .position-8 {
  border-bottom: none;
}